/*
*
* ------------------ Global Styles ---------------------- * / 
*
*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.app-avatar {
    border-radius: 50%;
    margin: 0 1rem 0 0;
}

.app-message {
    padding: 3vw;
}

.app-contacts .app-avatar {
    width: 4rem;
    height: 4rem;
}

.app-chats .app-avatar {
    width: 3rem;
    height: 3rem;
}

.app-sender {
    font-weight: bold;
}

.app-contacts .app-message {
    border-bottom: solid 1px silver;
}